services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: smartcart
      POSTGRES_PASSWORD: smartcart
      POSTGRES_DB: smartcart
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    depends_on:
      - db
    env_file:
      - .env
    environment:
      DATABASE_URL: postgresql://smartcart:smartcart@db:5432/smartcart
      DB_HOST: db
      DB_PORT: "5432"
      POSTGRES_USER: smartcart
      SECRET_KEY: supersecretkeymustbe12chars
    volumes:
      - ./backend:/code
    ports:
      - "8000:8000"

  frontend:
    build: ./frontend
    environment:
      VITE_BACKEND_URL: http://localhost:8000
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "5173:5173"

volumes:
  postgres-data:
